/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }


.container{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 2fr 10fr;
    
}

.dashboard{
    grid-row: 1/4;
    grid-column: 1/2;
    background-color: rgb(25 146 212);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.header{
    grid-row: 1/2;
    grid-column: 2/4;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding:20px;
}

input{
    width: 85%;
    border: 0px;
    background-color: rgb(233, 233, 237);
    border-radius: 20px;    
}

.searchBar{
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
}

.icons{
    display: flex;
    justify-content: space-evenly;
}

.top{
    grid-row: 2/3;
    grid-column: 2/4;
    background-color: aliceblue
}

.articles{
    grid-row: 3/4;
    grid-column: 2/3;
    background-color: green
}

.sides{
    grid-row: 3/4;
    grid-column: 3/4;
    background-color: rgb(157, 157, 157);
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 20px;
    
}

.announcements{
    display: grid;
    grid-template-rows: 2fr 8fr;
}

.trending{
    display: grid;
    grid-template-rows: 2fr 8fr;
}

.smallsA, .smallsT{
    font-size: smaller;
}

.smallsA{
    background-color: aliceblue;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 15px;
}