/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  html, body {
    height: 100%;
  }


.container{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr 10fr;
    overflow: visible;
}

.dashboard{
    grid-row: 1/4;
    grid-column: 1/2;
    background-color: rgb(25 146 212);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.header{
    grid-row: 1/2;
    grid-column: 2/4;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding:20px;
}

input{
    width: 85%;
    border: 0px;
    background-color: rgb(233, 233, 237);
    border-radius: 20px;    
}

.searchBar{
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
}

.icons{
    display: flex;
    justify-content: space-evenly;
}

.top{
    grid-row: 2/3;
    grid-column: 2/4;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 5px;
    position: relative;
    z-index: 1;
    box-shadow: 3px 3px 3px rgb(228, 228, 228);
}

button{
    padding: 10px;
    border-style: none;
    background-color: rgb(25 146 212);
    border-radius: 20px;
    width: 80%;
    color: white;
}

.articles{
    grid-row: 3/4;
    grid-column: 2/3;
    background-color:  rgb(234, 239, 255);
    display: grid;
    grid-template-rows: 1fr 9fr;
    min-width: 0; 
    overflow: hidden;
}

.quadr{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
    padding: 15px;
    gap: 15px;
    min-width: 0; 
    overflow: hidden;   
}

.projName{
    padding: 15px;
}

.quadrants{
    min-width: 0;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    border: 0px;
    border-left: 15px;
    border-left-color: yellow;
    border-style: solid;
    display: flex;
    gap: 5px;
    flex-direction: column;
    box-shadow: 3px 3px 3px rgb(228, 228, 228);
}

.artContent{
    overflow: hidden;
    max-width: 100%;
    height: 60%;
}

.artButton{
    align-self: flex-end;
}

.sides{
    grid-row: 3/4;
    grid-column: 3/4;
    background-color: rgb(234, 239, 255);
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 20px;
    gap: 30px;
    overflow: hidden;
    height: 100%;
    
}

.announcements{
    display: grid;
    grid-template-rows: 2fr 8fr;
    height: 100%;
}

.trending{
    display: grid;
    grid-template-rows: 2fr 8fr;
    height: 100%;
}

.smallsA, .smallsT{
    font-size: smaller;
    border-radius: 10px;
    min-width: 0;
    box-shadow: 3px 3px 3px rgb(228, 228, 228);
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 15px;
}

.smallsA p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }

.smallsA > div {
    display: flex;
    flex-direction: column;
    min-width: 0;  
  }

.mid{
   border: 0px;
   border-top: 1px;
   border-bottom: 1px;
   border-style: solid;
   border-color: rgb(198, 198, 198);
}

.bar{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.name{
    font-weight: 550;
}